.btn-primary{
	background-color: black;
	margin-bottom: 10px;
}

#services{
	background-color: black;
	color: white;
}


p{
font-family: Arial;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: normal;
    text-align: center;
}

.card-body{
	background-color: black;
	color:			white;
}
	body{
		background-color: black;
	}

	.suitPart{
		opacity: 0;
   		transition: opacity 1s ease-in-out;
   		-moz-transition: opacity 1s ease-in-out;
   		-webkit-transition: opacity 1s ease-in-out;
		visibility: hidden;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		max-width: 100%;
		max-height: 600px;
	}

	#siluette{
		opacity: 1;
		visibility: visible;

	}

.show{
	opacity: 1;
	visibility: visible;
}


		
@media (min-width: 970px) {

		
#powersuite{
	position: relative;
	height: 600px;
}
	
	
}

@media (max-width: 970px) {

	
	
  
#powersuite{
	position: relative;
	height: 400px;
}
	
	
}






@keyframes fadeIn { 
  from { opacity: 0; } 
}

.animate-flicker {
	opacity: 1;
    animation: fadeIn 1s infinite alternate;
}
		

